@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first-nav {
  font-family: "Open Sans", sans-serif;
  background-color: #161616;
  color: #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 1em 4em 0 4em;
}

.second-nav {
  font-family: "Open Sans", sans-serif;
  background-color: #161616;
  color: #eeeeee;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 4em 1em 4em;
}

.btn-contact-holder {
  display: flex;
  align-items: center;
  gap: 20px;
}

.first-nav-links {
  display: flex;
  gap: 5px;
}
.tiny-header-text {
  color: #a8a8a8;
  font-size: 8px;
}

.lone-space {
  color: #a8a8a8;
  font-size: 13px;
}

.download-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 3px 6px;
  font-size: 12px;
  font-weight: 400;
  color: #eeeeee;
  background-color: #161616;
  border: 0.5px solid #7c7c7c;
  border-radius: 3px;
}

.download-btn:hover {
  background-color: #ffffff;
  color: #161616;
  transition: 0.4s all ease-in-out;
}

.ri-smartphone-line {
  font-size: 15px;
  font-weight: 200;
}

.contact-link {
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
}

.contact-link:hover {
  color: #a8a8a8;
  transition: 0.2s all ease-in-out;
}

.lang-flag-holder {
  cursor: pointer;
  width: 20px;
  height: 15px;
}

.lang-flag {
  width: 100%;
  height: 100%;
}

.logo-container {
  cursor: pointer;
}

.logo-option-container {
  display: flex;
  gap: 15px;
  width: fit-content;
}

.logo {
  line-height: 35px;
  font-size: 40px;
  font-weight: 800;
}

.red-text {
  color: #cd0511;
}

.under-logo-text {
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 700;
}

.nav-options-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-btn-container {
  display: flex;
  gap: 5px;
}

.nav-option {
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

.nav-option:hover {
  color: #a8a8a8;
  transition: 0.2s all ease-in-out;
}

.login-btn {
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  background-color: #161616;
  color: #ffffff;
  font-size: 12px;
  padding: 7px 15px;
  border: 1px solid #cd0511;
  border-radius: 3px;
}

.login-btn:hover {
  background-color: #cd0511;
  transition: 0.2s all ease-in-out;
}

.reg-btn {
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  background-color: #179149;
  color: #ffffff;
  font-size: 12px;
  padding: 7px 15px;
  border: 1px solid #179149;
  border-radius: 3px;
}

.reg-btn:hover {
  background-color: #0e6833;
  border-color: #0e6833;
  transition: 0.2s all ease-in-out;
}

.hero-and-plain {
  /* overflow: hidden;
  position: relative; */
  background-color: #f4f4f4;
  padding: 0 0 5em 4em;
}

.hero-section {
  /* overflow: hidden;
  position: relative; */
  display: flex;
  width: 100%;
}

.hero-text {
  /* opacity: 1; */
  /* transform: translateX(0);
  transition-duration: 1.5s;
  transition-timing-function: ease-in; */
  /* opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s, transform 1s; */
  font-family: "Sofia Sans Condensed", sans-serif;
  width: 50%;
  font-size: 46px;
  font-weight: 700;
  padding: 1.6em 2.7em 0 0;
}

/* @keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */

/* .hero-text.active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s, transform 1s;
  animation: moveUp 1s forwards; 
} */


.hero-img-contaianer {
  width: 50%;
  height: 65vh;
}

.hero-img {
  width: 100%;
  height: 100%;
}

.hero-text-ii {
  padding: 3em 0 4em 0;
  line-height: 25px;
  font-family: "Open Sans", sans-serif;
  color: #161616;
  width: 20em;
  font-size: 17px;
}

.bold-black {
  font-weight: 700;
}

.btn-link-holder {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.wide {
  font-size: 18px;
  padding: 10px 75px;
}

.tiny-hero {
  font-size: 11px;
  color: #808080;
  text-align: center;
  width: 20em;
}

.market-hover-item-container {
  border-radius: 5px;
  display: flex;
  background-color: #292828;
  color: #eeeeee;
  width: 25em;
  padding: 0 0;
}

.nav-hover-items {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.mkt-link {
  cursor: pointer;
  padding: 10px 0 10px 10px;
  margin-bottom: 10px;
  font-size: 13px;
  width: 100%;
}

.mkt-link:hover {
  background-color: #4a4848;
}

.first-mkt-part {
  width: 50%;
  margin: 1em 0;
}

.second-mkt-part {
  border-left: 1px solid grey;
  width: 50%;
  margin: 1em 0;
}

.trdn-hover-item-container {
  border-radius: 5px;
  display: flex;
  background-color: #292828;
  color: #eeeeee;
  width: 35em;
  padding: 0 0;
}

.trd-non-link {
  padding: 10px 0 10px 10px;
  font-size: 13px;
  width: 100%;
  color: #989696;
}

.invst-hover-item-container {
  border-radius: 5px;
  background-color: #292828;
  color: #eeeeee;
  width: 5em;
  padding: 0.5em 0;
}

.invst-link {
  cursor: pointer;
  text-align: center;
  padding: 10px 10px 10px 10px;
  font-size: 13px;
}

.invst-link:hover {
  background-color: #4a4848;
}

.invst-mkt-part {
  width: 100%;
  margin: 1em 0;
}

/* .hidden-item {
    display: none;
    top: 100%;
    left: 0;
    position: absolute;
} */

#mktItems {
  display: none;
  position: absolute;
  left: 100px;
}

#compItems {
  display: none;
  position: absolute;
  right: 80px;
}

#trdItems {
  display: none;
  position: absolute;
  left: 140px;
}

#toolsItems {
  display: none;
  position: absolute;
  right: 140px;
}

#invstItems {
  display: none;
  position: absolute;
  left: 320px;
}

.award-plan-container {
  display: flex;
  padding: 4em 4em 4em 4em;
  width: 100%;
}

.award-learn-mre {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 50%;
}

.award-xl-header {
  font-family: 'Sofia Sans Condensed', sans-serif;
  font-size: 2.5rem;
  width: 8em;
  line-height: 40px;
}

.design-m-text {
  font-family: 'Open Sans', sans-serif;
  width: 22em;
  font-size: 14px;
}

.black-text {
  color: #161616;
  font-weight: 700;
}

.learn-btn-red  {
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  background-color: transparent;
  color: #161616;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 15px;
  border: 1px solid #cd0511;
  border-radius: 3px;
  width: 14rem;
}

.learn-btn-red:hover {
  background-color: #cd0511;
  color: #ffffff;
  transition: 0.3s all ease-in-out;
}

.plan-container {
  font-family: 'Open Sans', sans-serif;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


.plans-xl-header {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.plans-l-text {
  color: #212529;
  font-size: 14px;
  border-bottom: 1px solid rgb(222, 221, 221);
  width: 11em;
  margin-bottom: 10px;
  padding-bottom: 15px;
}

.each-plan {
  margin-bottom: 20px;
}

.trade-boost-container {
  background-color: #f4f4f4;
  padding: 4em 4em;
}

#lang-flag-holder-id {
  width: 25px;
  height: 25px;
  
}

#lang-flag-id {
  border-radius: 4px;
}

.flag-xl-text-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  
}

.bonus-container {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  padding: 2em 4em 2em 2em;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 15px;
  width: 27rem;
}

.xxl-bold-text {
  font-family: 'Sofia Sans Condensed', sans-serif;
  font-size: 50px;
  font-weight: 700;
}

#top-up-bonus-id {
  margin-bottom: 0;
}

.bonus-info {
  display: flex;
  flex-direction: column;
}

.bonus-info > span {
  font-size: 14px;
  font-weight: 400;
  color: #212529;
  border-bottom: 1px solid rgb(222, 221, 221);
  margin-bottom: 8px;
  padding-bottom: 8px;

}






/* font-family: 'Sofia Sans Condensed', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */


/* Navbar Hovering Display Item List Starts Here--- */
/* .counter {
    padding: 8em 4em;
    text-align: center;
}

#value {
    font-size: 40px;
} */

/* Navbar Hovering Display Item List Ends Here--- */